---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ExperienceCard from '../components/ExperienceCard.astro';
import SkillCard from '../components/SkillCard.astro';
import {userInfo} from '../data/index';

const { skills, experience, projects } = userInfo;
---

<Layout title="Josh's Portoflio">
	<main>
		<section id="intro" class="h-screen mx-4 p-6 flex items-center justify-center">
			<!-- <video autoplay muted loop>
				<source src="https://www.w3schools.com/howto/rain.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video> -->
			<!-- Overlay -->
  			<!-- <div class="absolute inset-0 bg-black bg-opacity-40"></div> -->
			<div class="flex flex-col-reverse md:flex-row justify-center items-center space-x-5 bg-cover bg-center">
				<!--<div class="cube w-52 h-52 relative mr-20">

					<div class="face front bg-blue-500">
						<span class="absolute">Integrity</span>
						<img src="https://github.com/user-attachments/assets/3d88aa16-c3ff-422f-b90e-027eef94a38d" alt="The owner avatar">
					</div>
					<div class="face back bg-green-500">
						<span class="absolute">Passion</span>
						<img src="https://github.com/user-attachments/assets/3d88aa16-c3ff-422f-b90e-027eef94a38d" alt="The owner avatar">
					</div>
					<div class="face left bg-red-500">
						<span class="absolute">Communication</span>
						<img src="https://github.com/user-attachments/assets/3d88aa16-c3ff-422f-b90e-027eef94a38d" alt="The owner avatar">
					</div>
					<div class="face right bg-yellow-500 ">
						<span class="absolute">Efficiency</span>
						<img src="https://github.com/user-attachments/assets/3d88aa16-c3ff-422f-b90e-027eef94a38d" alt="The owner avatar">
					</div>
					<div class="face top bg-purple-500">
						<span class="absolute">Empathy</span>
						<img src="https://github.com/user-attachments/assets/3d88aa16-c3ff-422f-b90e-027eef94a38d" alt="The owner avatar">
					</div>
					<div class="face bottom bg-pink-500">
						<span class="absolute">Growth Mindset</span>
						<img src="https://github.com/user-attachments/assets/3d88aa16-c3ff-422f-b90e-027eef94a38d" alt="The owner avatar">
					</div>
				</div>-->
				

				<div class="w-52 h-52 flex justify-center relative mr-20">
					<div class="face front w-full bg-blue-500">
						<img src="https://github.com/user-attachments/assets/3d88aa16-c3ff-422f-b90e-027eef94a38d" alt="The owner avatar">
					</div>
				</div>

				<div class="text-black">
					<h1 class="md:text-4xl font-bold text-center mb-4">Hi, I'm {userInfo.fullName} 👋 </h1>
					<p class="md:text-lg text-center">{userInfo.tagline}.</p>
					<p class="md:text-lg text-center">{userInfo.shortSummary}.</p>
				</div>
			</div>
		</section>

		<section id="skills" class="md:h-screen w-full flex justify-center flex-col items-center mx-auto p-6">
			<h1 class="text-4xl font-bold text-center mb-4">Skills</h1>
			<ul class="flex flex-col w-2/3 overflow-hidden">
				{skills.slice(0,4).map(skill => {
					const { category, skills } = skill;
					return <SkillCard category={category} skills={skills} />
				})}
			</ul>
			{skills.length > 4 && <a href="" class="mx-2 mt-5 w-24 hover:shadow-md text-center h-10 flex justify-center items-center hover:rounded hover:text-blue-300">View More</a>}
		</section>
		<section id="experience" class="md:h-screen w-full flex justify-center flex-col items-center mx-auto p-6 bg-gradient-to-br from-black via-white to-black">
			<h1 class="text-4xl font-bold text-center mb-4">Experience</h1>
			<ul class="flex flex-col md:flex-row gap-5 justify-center">
				{experience.slice(0,4).map(exp => {
					const { title, company, location, startDate, endDate, description } = exp;
					return <ExperienceCard title={title} company={company} location={location} startDate={startDate} endDate={endDate} />
				})}
			</ul>
			{experience.length > 4 && <a href="" class="mx-2 mt-5 w-24 hover:shadow-md text-center h-10 flex justify-center items-center hover:rounded hover:text-blue-300">View More</a>}
		</section>

		<section id="projects" class="md:h-screen w-full flex justify-center flex-col items-center">
			<h1 class="text-4xl font-bold text-center mb-10">Projects</h1>
			<div class="w-full flex flex-col md:flex-row flex-wrap gap-5 justify-center">
				{
					userInfo.projects.slice(0,4).map(project => {
						const {title, description, technologies, liveLink, githubLink} = project;
						return <ProjectCard title={title} description={description} technologies={technologies} liveLink={liveLink} githubLink={githubLink} />
					})
				}
			</div>
			{projects.length > 4 && <a href="" class="mx-2 mt-5 w-24 hover:shadow-md text-center h-10 flex justify-center items-center hover:rounded hover:text-blue-300">View More</a>}
		</section>
	</main>
</Layout>
		
